<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar nvabar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand p-3" href='/'>
            <span>Bookers2</span>
          </a>
          <!--<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
          <!--    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--  <span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
          <div class="navbar_collapse collapse show" id="navbarNavDropdown" style="">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Home', user_path(current_user.id) %>
                </li>
                <li>
                  <%= link_to 'Users', users_path %>
                </li>
                <li>
                  <%= link_to 'Book', books_path %>
                </li>
                <li>
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Home', root_path %>
                </li>
                <li>
                  <%= link_to 'About', homes_about_path %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path %>
                </li>
                <li>
                  <%= link_to 'Log in', new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
   
   
  </body>
</html>
